@model EmployeeManagemnetWeb.Models.Employee
@{
    ViewBag.Title = "AddtoDb";
}

<h2>AddtoDb</h2>
<h1>@Model.Name</h1>
<h1>@Model.MobileNo</h1>
<h1>@Model.DateOfBirth</h1>
<h1>@Model.DateOfJoining</h1>
<h1>@Model.Email</h1>
<h1>@Model.EmployeeID</h1>